<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <table>
    <tr>
      <th>Short Name</th>
      <th>Long Name</th>
      <th>Delete</th>
      <th>Update</th>
    </tr>
  <%- include('partials/_header') %>
  <% for(var url in urls) { %>
    <tr>
      <th><%= url %></th>
      <th><%= urls[url] %></th>
      <th>
       <form method="POST" action="/urls/<%= url %>/delete"><input type="submit" name = deleteURL value="Delete URL"></form>
      </th>
      <th>
        <form action="/urls/<%= url %>/" method="GET"><input type="submit" value="Update URL"></form>
      </th>
    </tr>
  <% } %>
  </table>
  <form action="/urls/new" method="GET">
    <input type="submit" value="Add URL">
  </form>
</body>
</html>